####### Start good-3
language: objective-c
osx_image: xcode10

env:
  global:
    - IOS_FRAMEWORK_WORKSPACE="aaaa.xcworkspace"
    - IOS_FRAMEWORK_SCHEME="aaaa"
    - IOS_SDK=iphonesimulator12.0

before_install:
  - pod repo update
  - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
  - export NEED_PRE_BOOT=`instruments -s devices | grep "iPhone 5 (8.1" | awk -F '[ ]' '{print $4}' | awk -F '[\[]' '{print $2}' | sed 's/.$//'`
  - echo $NEED_PRE_BOOT
  - npm install ios-sim -g
  - ios-sim showdevicetypes
  - ios-sim start --devicetypeid "com.apple.CoreSimulator.SimDeviceType.iPhone-5, 8.1"

script:
  - set -o pipefail
  # - xcodebuild -version
  # - xcodebuild -showsdks
  # - xcrun simctl boot E5486005-1831-4DBE-B151-B54F00F798C9
  # - sleep 10
  # - xcodebuild -workspace "$IOS_FRAMEWORK_WORKSPACE" -scheme "$IOS_FRAMEWORK_SCHEME" -sdk "$IOS_SDK" -destination "platform=iOS Simulator,OS=12.0,name=iPhone XS Max" -configuration Debug ONLY_ACTIVE_ARCH=NO test | xcpretty -c
  # - xcrun simctl boot 24BC6B8C-40F5-44F9-99F8-D22E3A8A133C
  # - sleep 10
  # - xcodebuild -workspace "$IOS_FRAMEWORK_WORKSPACE" -scheme "$IOS_FRAMEWORK_SCHEME" -sdk "$IOS_SDK" -destination "platform=iOS Simulator,OS=11.4,name=iPhone 8" -configuration Debug ONLY_ACTIVE_ARCH=NO test | xcpretty -c
  # - xcrun simctl boot FCD373ED-4707-446E-9E61-9970F45603BA
  # - sleep 10
  # - xcodebuild -workspace "$IOS_FRAMEWORK_WORKSPACE" -scheme "$IOS_FRAMEWORK_SCHEME" -sdk "$IOS_SDK" -destination "platform=iOS Simulator,OS=10.1,name=iPhone 7 Plus" -configuration Debug ONLY_ACTIVE_ARCH=NO test | xcpretty -c
  # - xcrun simctl boot 070794B4-9D06-4197-B536-78925DFB7430
  # - sleep 10
  # - xcodebuild -workspace "$IOS_FRAMEWORK_WORKSPACE" -scheme "$IOS_FRAMEWORK_SCHEME" -sdk "$IOS_SDK" -destination "platform=iOS Simulator,OS=9.3,name=iPhone 6" -configuration Debug ONLY_ACTIVE_ARCH=NO test | xcpretty -c
  # - xcrun simctl boot 13ABB1EA-A5AF-493C-8F47-35AE58F2B818
  # - sleep 10
  - xcodebuild -workspace "$IOS_FRAMEWORK_WORKSPACE" -scheme "$IOS_FRAMEWORK_SCHEME" -sdk "$IOS_SDK" -destination "platform=iOS Simulator,OS=8.1,name=iPhone 5" -configuration Debug ONLY_ACTIVE_ARCH=NO test | xcpretty -c
####### End good-3

####### Start good-2
# language: objective-c
# osx_image: xcode10.1
# xcode_workspace: aaaa.xcworkspace
# xcode_scheme: aaaa
# podfile: Podfile

# before_install:
#   - pod repo update
#   - xcodebuild -version -sdk
#   - xcrun instruments -s devices

# matrix:
#   include:
#      - xcode_destination: platform=iOS Simulator,OS=12.1,name=iPhone X
#      - xcode_destination: platform=iOS Simulator,OS=11.1,name=iPhone X
#      - xcode_destination: platform=iOS Simulator,OS=10.1,name=iPhone 7
#      - xcode_destination: platform=iOS Simulator,OS=9.1,name=iPhone 6
#      - xcode_destination: platform=iOS Simulator,OS=8.1,name=iPhone 6
####### End good-2

####### Start good-1
# language: objective-c
# osx_image: xcode10.1
# xcode_workspace: aaaa.xcworkspace
# xcode_scheme: aaaa
# podfile: Podfile

# before_install:
#   - pod repo update
#   - xcodebuild -version -sdk
#   - xcrun instruments -s devices

# env:
#   - UDID="DFAF4EF2-9DFF-47E7-A70E-08474E6AF89F", IOS_DEVICE="iPhone X (12.1)"
#   - UDID="1A15CA03-24BC-4263-9417-FDF81BAA7E02", IOS_DEVICE="iPhone X (11.1)"
#   - UDID="D947E291-A495-4D19-8BB3-C1EFAE9383CD", IOS_DEVICE="iPhone 7 (10.1)"
#   - UDID="8D30A771-F8A2-4089-A9A9-69156FA64317", IOS_DEVICE="iPhone 6 (9.1)"
#   - UDID="5AC6A2C7-E739-4B53-9F4A-3440F06A7BBD", IOS_DEVICE="iPhone 6 (8.1)"

# script:
#   - xcrun simctl boot $UDID
#   - sleep 25
#   - xcodebuild -workspace aaaa.xcworkspace -scheme aaaa -sdk iphonesimulator -destination "platform=iOS Simulator,id=$UDID" build test | xcpretty
#   # - xcodebuild -workspace aaaa.xcworkspace -scheme aaaa -sdk iphonesimulator -destination "platform=iOS Simulator,id=$UDID" -configuration Debug ONLY_ACTIVE_ARCH=NO test | xcpretty

# after_success:
#   - sleep 15 
####### End good-1


# # # language: objective-c
# # # before_install:
# # #   - pod repo update
# # # script:
# # # #   - xctool -workspace TravisTest.xcworkspace -scheme TravisTest -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
# # #   - xctool test -workspace TravisTest.xcworkspace -scheme TravisTest -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO

# language: objective-c
# osx_image: xcode10.1
# xcode_workspace: aaaa.xcworkspace
# xcode_scheme: aaaa
# # xcode_sdk: iphonesimulator12.1
# podfile: Podfile

# # # matrix:
# # #   include:
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=12.0,name=iPhone XS"
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=11.4,name=iPhone 8"
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=10.3.1,name=iPhone 7"
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=9.3,name=iPhone 6s"
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=8.3,name=iPhone 5"

# before_install:
#   - pod repo update
#   - xcodebuild -version -sdk
#   - xcrun instruments -w 'iPhone 7 (10.1)'

# script:
#   - export IOS_SIMULATOR_UDID=`instruments -s devices | grep "iPhone 6 (9.1" | awk -F '[ ]' '{print $4}' | awk -F '[\[]' '{print $2}' | sed 's/.$//'`
#   - echo $IOS_SIMULATOR_UDID
#   - open -a "simulator" --args -CurrentDeviceUDID $IOS_SIMULATOR_UDID
#   - export IOS_SIMULATOR_UDID=`instruments -s devices | grep "iPhone 7 (10.1" | awk -F '[ ]' '{print $4}' | awk -F '[\[]' '{print $2}' | sed 's/.$//'`
#   - echo $IOS_SIMULATOR_UDID
#   - open -a "simulator" --args -CurrentDeviceUDID $IOS_SIMULATOR_UDID
#   - export IOS_SIMULATOR_UDID=`instruments -s devices | grep "iPhone 8 (11.1" | awk -F '[ ]' '{print $4}' | awk -F '[\[]' '{print $2}' | sed 's/.$//'`
#   - echo $IOS_SIMULATOR_UDID
#   - open -a "simulator" --args -CurrentDeviceUDID $IOS_SIMULATOR_UDID

# # language: objective-c
# # # osx_image: xcode9.4.1
# # xcode_workspace: aaaa.xcworkspace
# # xcode_scheme: aaaa
# # # xcode_destination: platform=iOS Simulator,OS=11.1,name=iPhone 8
# # #  - platform=iOS Simulator,OS=12.0,name=iPhone XS
# # #  - platform=iOS Simulator,OS=11.1,name=iPhone 8
# # #  - platform=iOS Simulator,OS=10.1,name=iPhone 7
# # #  - platform=iOS Simulator,OS=9.1,name=iPhone 6s
# # #  - platform=iOS Simulator,OS=8.1,name=iPhone 6

# matrix:
#   include:
#   - xcode_destination: platform=iOS Simulator,OS=10.1,name=iPhone 7
#   # - xcode_destination: platform=iOS Simulator,OS=11.1,name=iPhone 8
#   # - xcode_destination: platform=iOS Simulator,OS=9.1,name=iPhone 6s
#   # - xcode_destination: platform=iOS Simulator,OS=8.1,name=iPhone 6
#   # - xcode_destination: platform=iOS Simulator,OS=12.0,name=iPhone XS

# # # matrix:
# # #   include:
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=12.0,name=iPhone XS"
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=11.1,name=iPhone 8"
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=10.1,name=iPhone 7"
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=9.1,name=iPhone 6s"
# # #   - xcode_scheme: aaaa
# # #     xcode_sdk: iphonesimulator12.0
# # #     env: DESTINATION="platform=iOS Simulator,OS=8.1,name=iPhone 6"

# # before_install:
# #   - pod repo update
# #   - xcodebuild -version -sdk
# #   - xcrun simctl list
# #   - xcrun instruments -s devices

# # script:
#   # - set -o pipefail
#   # - xcodebuild -workspace "${TRAVIS_XCODE_WORKSPACE}" -scheme "${TRAVIS_XCODE_SCHEME}" -sdk "${TRAVIS_XCODE_SDK}" -destination "${DESTINATION}" build test | xcpretty
#   # - set -o pipefail
# # #   - xcodebuild clean build build-for-testing -workspace "${TRAVIS_XCODE_WORKSPACE}" -scheme "${TRAVIS_XCODE_SCHEME}" -sdk "${TRAVIS_XCODE_SDK}" -destination "${DESTINATION}" | xcpretty
# # #   - xcodebuild test-without-building -workspace "${TRAVIS_XCODE_WORKSPACE}" -scheme "${TRAVIS_XCODE_SCHEME}" -sdk "${TRAVIS_XCODE_SDK}" -destination "${DESTINATION}" | xcpretty

# # before_install:
# #     - gem install cocoapods
# #     - pod repo update > /dev/null
# # language: objective-c
# # podfile: Podfile
# # xcode_workspace: aaaa.xcworkspace
# # xcode_scheme: aaaa
# # xcode_sdk: iphonesimulator
# # matrix:
# #     fast_finish: true
# #     include:
# #         - {osx_image: xcode9.4,     env: 'PLAT=iOS  DST="OS=11.4,name=iPhone 6"'}
# #         - {osx_image: xcode9.4,     env: 'PLAT=iOS  DST="OS=9.3,name=iPhone 6"'}

# #         - {osx_image: xcode10, env: 'PLAT=iOS  DST="OS=11.4,name=iPhone 6"'}
# #         - {osx_image: xcode10, env: 'PLAT=iOS  DST="OS=9.3,name=iPhone 6"'}

# #     allow_failures:
# #         - {osx_image: xcode10, env: 'PLAT=iOS  DST="OS=11.4,name=iPhone 6"'}
# #         - {osx_image: xcode10, env: 'PLAT=iOS  DST="OS=9.3,name=iPhone 6"'}

# # script:
# #     - "xcodebuild -version"
# #     - "set -o pipefail"
# #     - "xcodebuild \
# #         -workspace $TRAVIS_XCODE_WORKSPACE \
# #         -scheme \"$TRAVIS_XCODE_SCHEME\" \
# #         -sdk $TRAVIS_XCODE_SDK \
# #         -destination \"$DST\" \
# #         -enableCodeCoverage YES \
# #         -quiet \
# #         clean build-for-testing | xcpretty"
# #     - "xcodebuild \
# #         -workspace $TRAVIS_XCODE_WORKSPACE \
# #         -scheme \"$TRAVIS_XCODE_SCHEME\" \
# #         -sdk $TRAVIS_XCODE_SDK \
# #         -destination \"$DST\" \
# #         -quiet \
# #         test-without-building | xcpretty"