# language: objective-c
# before_install:
#   - pod repo update
# script:
# #   - xctool -workspace TravisTest.xcworkspace -scheme TravisTest -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
#   - xctool test -workspace TravisTest.xcworkspace -scheme TravisTest -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO

language: objective-c
# osx_image: xcode10.1
xcode_workspace: aaaa.xcworkspace
xcode_scheme: aaaa
# xcode_sdk: iphonesimulator12.1
podfile: Podfile

matrix:
  include:
    - osx_image: xcode10.1
      xcode_sdk: iphonesimulator12.1
    - osx_image: xcode9.1
      xcode_sdk: iphonesimulator11.1
    # - osx_image: xcode8.3
    #   xcode_sdk: iphonesimulator10.3
    # - osx_image: xcode8
    #   xcode_sdk: iphonesimulator9.3
    # - osx_image: xcode6.4
    #   xcode_sdk: iphonesimulator8.4


before_install:
  - pod repo update
  - xcodebuild -version -sdk